.button {
    height: 30;
    width: auto;
    text-align: center;
    background: goldenrod;
    font-weight: 300;
    box-shadow: none; 
    border-radius: 10px;
    font-size: 1.5rem;
    display:inline-block;
    text-decoration: none;
    border: 1px pink solid;
}